<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap" rel="stylesheet">
    
    <!-- Link to main styles.css or tailwind.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <title>{% block title %}PetMatters{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body class="min-h-screen flex flex-col">    
    <!-- <nav class="nav-container"> -->
    <nav class="nav-container p-4 w-full flex justify-between items-center">
        <a class="navbar-brand mx-auto" href="{{ url_for('app_views.index') }}">PetMatters</a>
    </nav>

    <!-- Content Wrapper -->
    <div class="flex-grow w-full">
        <div class="flex-col mx-auto">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>
